<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/w3.css" rel="stylesheet" />

    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="../scripts/ngStorage.min.js"></script>
    <script src="../scripts/xml2json.min.js"></script>

    <script src="../scripts/MyAccount.js"></script>
    
</head>
<body ng-app="MyAccount" ng-controller="MyAccountCtrl">
    <div class="w3-container w3-card-4" >
        <div>
            <table class="table">

                <tr>
                    <td>Name<br />{{fullname}}</td>
                </tr>
                <tr> <td>Email Id<br />{{EmailId}}</td></tr>
                <tr> <td>Active Address<br />{{ActiveAddress}}</td></tr>
                <tr>  <td>Permanent Address<br />{{PermanentAddress}}</td></tr>
                <tr>
                    <td>Cell Phone<br />{{CellPhone}}</td>
                </tr>
                <tr>
                    <td><input type="button" class="w3-button w3-block w3-teal"  value="Logout" ng-click="Logout()" /><br /><br />
                    <button class="w3-button w3-block w3-teal" ng-click="back()">Back</button><br /><br />  </td>

                </tr>

            </table>
            
        </div>
    </div>
</body>
</html>