<!DOCTYPE html>
<html>
<head>
    <title>Deatils Book</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/w3.css" rel="stylesheet" />

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"></script>
    
    <script src="../scripts/SearchBook.js"></script>
    <script src="../scripts/AClServices.js"></script>
    
</head>
<body ng-app="AclApp" ng-controller="Searchctrl"><br />
    <div class="w3-container w3-card-4">
        <input type="text" placeholder="Search" class="form-control" ng-model="searchArg" /><br />
        within <select ng-model="ddlsearchType" class="form-control" ng-options="item.searchName.__text for item in searchType">
            <option value="">--Select--</option>
        </select><br />
        <!--<select  class="form-control">
            <option ng-model="ddlsearchType" data-ng-repeat="item in searchType" value="{{item.searchCode.__text}}">{{item.searchName.__text}}</option>
        </select>-->
        <button class="w3-button w3-block w3-teal" ng-click="SearchBasic()">Search</button> <br />
        <button class="w3-button w3-block w3-teal" ng-click="back()">Back</button><br /><br />
        <!--<a href="../index.html" class="w3-button w3-block w3-teal">Back</a>-->
        <div ng-hide="divhead" style="background-color:cornflowerblue">
            <span>Database: My Library Catalog</span><br />
            <span>{{totalHits}} Results found</span><br />
            <span>{{ddlsearchTexts}}({{searchArg}})</span><br />
        </div><br />
        <div ng-repeat="item in bookDetails">
            <p>
                <a href="HoldingInfo.html#/HoldingInfo?Holding={{item.bibId.__text}}" alt="{{item.bibId.__text}}">{{item.bibText1.__text}}</a><br /><spna style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><b>Auther:</b> {{item.bibText2.__text}}</spna>
                <br /><b>Publisher Date : </b> {{item.bibText3.__text}}<br />
                <br />{{item.callNumber.__text}}<br />
                {{item.locationName.__text}}
            </p><br />
        </div>
        <div style="color:red" ng-hide="diverror">{{ErrorMessage}}</div>
    </div>
</body>
</html>